/*

check caniuse.com to check on the css support

a good idea is to avoid using descendant selectors
give class names either container__header or accent-text

reduce html by moving the row class to the inner content div









*/



* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


:root {
}

.container {
    padding: 10vmin 0; /**/
}

.inner-content {
    width: 80%; /**/
    margin: 0 auto; /*instead of container l/r padding*/
    max-width: 900px;   /*div float at left with max width for the text */
}


/*/////////////////////////////////////////////////////////////////////////*/

.flex-row { /* flex container */
    display: flex;
    gap: 1.5em;


}

.col {
    text-align: center;

}

.accent-text {
    color: purple;
}


.container-dark {
    background-color: #136C72;
    color: white;
}






/*/////////////////////////////////////////////////////////////////////////*/
.hero {
    background-color: #23424A;
    color: white;
}


.hero__header {
    margin: 0;

    font-family: system-ui;
    font-style: normal;
    font-weight: 900;

    font-size: 2.5rem;
    line-height: calc(1.164*1em);
    margin-bottom: 1em;

}


.hero__text {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;

    font-size: 1rem;
    line-height: calc(1.5*1em);

    margin-bottom: 2em;
}


.hero__button {
    background-color: #38CFD9;
    color: #23424A;

    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;

    padding: 1em 3em;

    border-radius: 2em;
    border: 0px;

    display: inline-block;


}


.hero__button:hover,
.hero__button:focus {
    opacity: 0.9;
}



