*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}



.container1 {
    background-color: rgb(65, 65, 65);
    font-size: 1rem;

}

.container1 header nav ul {
    list-style: none;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 8vh;
    padding: 0;


}

.container1 header nav ul li {
    width: 8em;
    height: 2em;
    border: 2px solid rgba(162, 205, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;



}

.container1 header nav ul li:hover {
    background-color: rgba(162, 205, 255, 0.1);

}

.container1 header nav ul li:hover > a {
    color: rgb(240, 247, 255);

}

.container1 header nav ul li a {
    text-decoration: none;
    color: rgb(162, 205, 255);

    display: block;
    text-align: center;

}

.container2 {
    height: 92vh;
    background-color: rgb(40, 40, 45);
    color: rgb(240, 247, 255);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.3),
                inset 0px 10px 20px rgb(0, 0, 0, 0.3);

}

.container2 > * {
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.container2 input {
    display: block;
    margin: 1em auto;
}

.container2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 form button {
    width: 50%;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 12px;
    background-color: rgb(162, 205, 255);
    color: rgb(65, 65, 65);
    font-weight: bold;

}


.active {
    filter: brightness(1.5);
}



