/*
////// Initial //////
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/*
////// Base colors //////
*/

.dark-color-bg {
    background-color: #23424A;
}

.medium-color-bg {
    background-color: #136C72 ;
}

.light-color-bg {
    background-color: #38ced9e3;
}

.light-color-bg-focused:hover, .light-color-bg-focused:focus {
    background-color: #38CFD9;
}

.white-color-bg {
    background-color: white;
}

.white-color-bg-focused:hover, .white-color-bg-focused:focus {
}


.dark-text {
    color: #23424A;
}

.medium-text {
    color: #136C72 ;
}

.light-text {
    color: #38CFD9;
}


.white-text {
    color: white;
}


.white-border {
    border: 2px solid white;
}

.tb {
    border: 1px solid rgba(255, 192, 203, 0.0);
}


/*
////// Main Containers //////
*/
.main-container {
    padding: 5rem 5vmax;
    font-family: system-ui;
}

.container-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex__center {
    justify-content: center;
}

.flex__align-center {
    align-content: center;
}

.flex__align-self-center {
    align-self: center;

}

.col {
    padding: 2px;
}


.flex__align-flex-start {
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.margin-right {
    margin: 0 0 0 auto;
}

.margin-center {
    margin: 0 auto;
}



/*
///////////////////////////////
////// Navigation Header //////
*/

header {
    font-family: system-ui;

}

.nav {
    flex-grow: 0.7; /* allow the nav col to grow to the full size remaining in the header row*/
}

.nav__list {

    /* normal adjustments */
    list-style: none;
    text-transform: uppercase;
    padding: 1.4em 0em;

    /* flexing */
    gap: 3em;
    /* universal font */
    font-family: system-ui;
    font-weight: 600;

}

.nav__list li {
    /* default, just confirming to align with button */
    /* as we duplicated the button style, remove side paddings */
    font-size: 90%;
    padding-left: 0;
    padding-right: 0;

}

.nav__button--push-right {
    color:aquamarine;
    margin-left: auto;
}

/* the key for aligning here is using nav-button padding/border on li as well as button */
.nav-button {
    /* smaller button, font size adjusted to be default as it has been changed */
    border: none;
    padding: 0.4em 1.25em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 90%;
}



.nav-button a {
    text-decoration: none;
}




/*
/////////////////////////
////// Container 1 //////
*/
.hero-margin {
    margin: 2rem auto;
}

.container-1-header {
    margin: 0;
}
.container-1-para {
    margin-top: 1.25em;

}
.container-1-button {

    border: none;
    color: white;
    padding: 0.8em 2.5em;
    border-radius: 1em;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.25em;

}




/*
////// Container 1/2 - column widths //////
*/
.container-1-text-wrapper-col, .conatainer2-side1 {
    width: 70%;
}

.container-1-image-container-col, .conatainer2-side2 {
    width: 25%;
}

.container-1-image {
    max-width: 100%;
}


@media (max-width: 800px) {
    .main-container > .flex-row  {
        flex-direction: column;
        gap: 1em;
    }

    /*
    .main-container > .container-wrapper {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conatainer2-side1 {
        width: 100%;
    }
    
    .conatainer2-side2 {
        width: 100%;
        flex-direction: row;
    }

    header .container-wrapper {
        overflow: scroll;
    }

    nav > .margin-right {
        margin-left: 3em;

    }

    .nav-button {
        width: 7em;
    }
    */

    .conatainer2-side1, .conatainer2-side2, .container-1-text-wrapper-col, .container-1-image-container-col {
        width: 100%;
    }



}



/*
/////////////////////////
////// Container 2 //////
*/

.conatainer2-side1 {
    padding: 0;
}

.conatainer2-side1 h2 {
    margin: 0;
}

.conatainer2-side1 p {
    margin-top: 1.5em;
    color: rgb(54, 54, 54);
}

.conatainer2-side2 {
    text-align: center;
    gap: 1em;
    padding: 1em 1em;
    border-radius: 12px;

}

.conatainer2-side2 h3 {
    margin: 0.25em;
}

.conatainer2-side2 p {
    margin-top: 0.75em;
}

.conatainer2-side2 .item {
    border-radius: 12px;
}